body {
  background-color: #1f2227;
}

img.Foto{
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid green;
  border-radius: 1000px
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  color: white;
  font-size: 20px;
  margin: 50px;
}

li{
  font-family: verdana;
  color: silver;
  font-size: 20px;
  text-align: center;
}