html{
  max-width: 500px;
  text-align: justify;
  margin: auto;
}

body {
  background-color: #1f2227;
  font-family: verdana;
}

.Foto{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid silver;
  border-radius: 1000px
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: silver;
  font-size: 20px;
}

li{
  color: silver;
  font-size: 20px;
  text-align: left;
}

.rodape{
  text-align: center;
  color: silver;
  font-size: 12px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  align-items: center;
}

.logosw{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  align-items: center;
  filter: invert(1); 
}

figcaption{
  text-align: center;
  color: silver;
}